@model PolovniAutomobiliZavrsniRad.Models.Komentar
@inject UserManager<ApplicationUser> um

@{
    ViewData["Title"] = "Edit";
    var korisnik = await um.GetUserAsync(User);
}

<h1>Edit</h1>

<h4>Komentar</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Promeni">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="KomentarId" />
                <div class="form-group" hidden>
                    <label asp-for="VoziloId" class="control-label"></label>
                    <select asp-for="VoziloId" class="form-control" asp-items="ViewBag.VoziloId"></select>
                    <span asp-validation-for="VoziloId" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="KorisnikId" class="control-label"></label>
                    <input asp-for="KorisnikId" class="form-control" />
                    <span asp-validation-for="KorisnikId" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Korisnik" class="control-label"></label>
                    <input asp-for="Korisnik" class="form-control" />
                    <span asp-validation-for="Korisnik" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label class="control-label" for="Korisnik">Ime i prezime:</label>
                    <input class="form-control" type="text" id="Korisnik" readonly name="Korisnik" value="@korisnik.Ime @korisnik.Prezime" />
                </div>
                <div class="form-group">
                    <label asp-for="Opis" class="control-label"></label>
                    <textarea id="Opis" name="Opis" placeholder="@ViewBag.Opis" class="form-control" cols="30" rows="10" required></textarea>
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Promeni" class="btn btn-success" />
                    <a class="btn btn-info" asp-action="Index">Nazad na komentare</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
